<div class="container-fluid hero-header">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% chính hãng</h4>
                <h1 class="mb-5 display-3 text-primary">Sản phẩm hot</h1>

            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox" style="height: 330px;">
                        <div class="carousel-item active rounded">
                            <img src="/client/img/banner/sale_banner.png"
                                class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="product/11" class="btn px-4 py-2 text-white rounded">Black Friday</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="/client/img/banner/sale_banner_2.png" class="img-fluid w-100 h-100 rounded"
                                alt="Second slide">
                            <a href="product/12" class="btn px-4 py-2 text-white rounded">Big Sale</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="/client/img/banner/shoes_banner.png" class="img-fluid w-100 h-100 rounded"
                                alt="Third slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">New shoes</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>